<!DOCTYPE html>
<html>
  <head>
    <title>Register</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Register page</h1>
    <p>Please register for our site</p>
    <br>
    <form role="form" action="/register" method="post">
      <input type="text" name="username" placeholder="Enter Username"><br><br>
      <input type="password" name="password" placeholder="Enter Password"><br><br>
      <input type="submit" value="Register">
    </form>
  </body>
</html>
